#header {
    position: fixed;
    height: 80px;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #f0f0f0;
}
#content{
    margin-top: 85px;
}

.nav
{
  width: 100%;
  position:relative;
  float:left;
  left:5%;
}
.nav ul li
{
  list-style-type:none;
  position:relative;
  float:left;
  padding:12px 0;
  height:auto;
  cursor: default;
}
.nav ul li a
{
  font-family: Arial;
  font-size:17px;
  font-weight:bold;
  color:#000000;
  text-decoration:none;
  padding:15px;
}
.nav ul li a:hover
{
  color:#049991;
  -webkit-box-shadow: inset 0 -4px 0 0 #049991;
  -moz-box-shadow: inset 0 -4px 0 0 #049991;
  box-shadow: inset 0 -4px 0 0 #049991;
}
.nav ul li a.active
{
  color: #049991;
  -webkit-box-shadow: inset 0 -4px 0 0 #049991;
  -moz-box-shadow: inset 0 -4px 0 0 #049991;
  box-shadow: inset 0 -4px 0 0 #049991;
}

ul > li:last-child
{
    float:right;
    padding-right: 150px;
}

/* notification */
.notify:after {
    content:'1';
    width: 1.3em;
    height: 1.3em;
    position: absolute;
    top: 0;
    right: -0.6em;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 100, 0.2);
    margin: 1em 0;

    background: #FF0000;
    text-align:center;
    cursor:pointer;
    vertical-align: middle;
    line-height: 1.3em;

    animation: pulse 0.75s infinite;
}

@include keyframes (pulse) {
  0%   { box-shadow: 0 0 0 #{$border-size * 0.8} $border-color; }
  25%  { box-shadow: 0 0 0 #{$border-size * 0.2} $border-color; }
  50%  { box-shadow: 0 0 0 #{$border-size * 1.5} $border-color; }
  75%  { box-shadow: 0 0 0 #{$border-size * 0.8} $border-color; }
  100% { box-shadow: 0 0 0 #{$border-size * 1.2} $border-color; }
}





