#header {
    position: fixed;
    height: 80px;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #f0f0f0;
}
#content{
    margin-top: 85px;
}

.nav
{
  width: 100%;
  position:relative;
  float:left;
  left:5%;
}
.nav ul li
{
  list-style-type:none;
  position:relative;
  float:left;
  padding:12px 0;
  height:auto;
}
.nav ul li a
{
  font-family: Arial;
  font-size:17px;
  font-weight:bold;
  color:#000000;
  text-decoration:none;
  padding:15px;
}
.nav ul li a:hover
{
  color:#049991;
  -webkit-box-shadow: inset 0 -4px 0 0 #049991;
  -moz-box-shadow: inset 0 -4px 0 0 #049991;
  box-shadow: inset 0 -4px 0 0 #049991;
}
.nav ul li a.active
{
  color: #049991;
  -webkit-box-shadow: inset 0 -4px 0 0 #049991;
  -moz-box-shadow: inset 0 -4px 0 0 #049991;
  box-shadow: inset 0 -4px 0 0 #049991;
}

ul > li:last-child
{
    float:right;
    padding-right: 150px;
}
