@import url(unquote('http://fonts.googleapis.com/css?family=Lato:300,400,700'))
@import url(unquote('http://fonts.googleapis.com/css?family=Old+Standard+TT'))
@import url(unquote('http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700'))


.trip_content_container {
    background: #F5F7FA;
    width: 960px;
    padding: 20px 20px 20px 20px;
    margin: 20px auto;
    box-shadow: 20px 20px 20px 20px #656D78;
    word-wrap: break-words;
    font-family: "PT Sans Narrow", Helvetica, Arial, serif;
    font-size: 16px;
}

.trip_content_container textarea {
    width: 95%;
    height: 50px;
    border: none;
    outline: none;
    letter-spacing: 0.1em;
    margin: 20px auto;
    padding: 15px;
    background: #F5F7FA;
}

.trip_content_container input {
    width: 100%;
    height: 50px;
    letter-spacing: 0.1em;
    border: none;
    outline: none;
    padding: 15px;
    margin: 0 auto 20px auto;
}

.trip_content_container button {
    width: 200px;
    height: 40px;
    margin: 20px auto;
    display: block;
}

.trip_content_comments {
    width: 960px;
    width: 960px;
    padding: 20px;
    word-wrap: break-word;
    margin: 20px auto;
    box-shadow: 0px 0px 20px #656D78;
}

.fav_comment_textarea
{
  resize: none;
  height: 15px;
  width: 500px;
}
.fav_comment{
  background-color: #edeff4;
  margin-top: 1px;
  padding:5px;
  width:510px;
}
.fav_comment_time{
  font-size:13px;
  color:grey;
}


.mainBlock {
    /* TRANSFORMS */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: table;
    font-weight: bold;
    height:80px;
    margin-top: 30px;
    margin-bottom: 0px;

    /* FONT SETTINGS */
    font-family: "futura-pt", sans-serif;
    font-size: 4.5em;
    /*line-height: 0.8;*/
    /*SPECIAL TEXT SETTINGS SCROLL*/
	  background: url(P1440140.JPG) repeat-y;
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;
	  -webkit-transform: translate3d(0,0,0);
  	-webkit-backface-visibility: hidden;
    /* SPECIAL TEXT SETTINGS */
    /* DELETE THIS LINE TO TURN OFF TITLE SCROLLING
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
    background-image: url(http://cl.ly/image/1t3m2u2k060V/2014-02-04%2002.39.43%201.jpg);
    */
}
.padBlock {
    /* TRANSFORMS */
    text-align: center;
    margin-top:0px;
    margin-bottom: 0px;

    /* FONT SETTINGS */
    font-family: "futura-pt", sans-serif;
    font-weight: 100;
    font-size: 2em;
    font-kerning: auto;
  	font-style:italic;
	  font-size-adjust:auto;
    line-height: 1;
    /* SPECIAL TEXT SETTINGS */
    background: repeating-linear-gradient(240deg, #ff3800, #0037ba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@-webkit-keyframes aitf {
 	0% { background-position: 0% 50%; }
 	100% { background-position: 100% 50%; }
}





/* external link */
.link_container {
   height: 168px;
   weight: 960px;
   overflow: hidden;
   margin-bottom: 20px;
}

.link_right {
    width: 777px;
    height: 168px;
    float: right;
}

.link_left {
    float: none;
    width: 168px;
    height: 168px;
    overflow: hidden;
    position:relative;
}​​

img {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    /*width:100%;
    height:100%;
    margin:auto;
    display:block;*/
}

.link_title {
    font-weight:bold;
    font-size:20px;
}

.link_description {
    font-size:16px;
}

