@(message: String)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>TravelPal</title>

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.cookie.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/friends.js")'></script>

</head>

<body>

    <div id="friendsList">
        <ul class="list">
            <!--friends here-->
        </ul>
    </div>


</body>
</html>
