@(message: String)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>UoB</title>

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/front.css")'></link>

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.cookie.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/front.js")'></script>

</head>

<body>
    <div data-role="page" id="page">

        <div data-role="header" id="header">
            <div class="nav">
                <ul>
                    <li ><a class="active" id="homeBtn">Home</a></li>
                    <li><a id="myTripsBtn">My trips</a></li>
                    <li><a id="newTripsBtn">New Trips</a></li>
                    <li><a id="findFriendsBtn">Find Friends</a></li>
                    <li><a id="meBtn">Me</a></li>
                </ul>

            </div>
        </div><!-- /header -->

        <div data-role="content" id="content">
            <p>www...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>
            <p>Loading...</p>


        </div><!-- /content -->

    </div><!-- /page -->
</body>
</html>
