@(message: String)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>UoB</title>

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/signin.css")'></link>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/signinform.css")'></link>

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.cookie.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/signin.js")'></script>

</head>
<body>

    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Travel<span>Pal</span></div>
    </div>
    <br>


    <section>
        <div id="container_demo" >
            <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form autocomplete="on">
                        <h1>Log in</h1>
                        <p>
                            <label for="username" class="uname" data-icon="u" > Your username </label>
                            <input id="username" name="username" required="required" type="text" placeholder="username"/>
                        </p>
                        <p>
                            <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                            <input id="password" name="password" required="required" type="password" placeholder="password" />
                        </p>
                        <p class="keeplogin">
                            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
                            <label for="loginkeeping">Keep me logged in</label>
                        </p>
                        <p class="login button">
                            <input type="button" value="Login" id="signInBtn">
                        </p>
                        <p class="change_link">
                            Not a member yet ?
                            <a href="#toregister" class="to_register">Join us</a>
                        </p>
                    </form>
                </div>

                <div id="register" class="animate form">
                    <form autocomplete="on">
                        <h1> Sign up </h1>
                        <p>
                            <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                            <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="username" />
                        </p>
                        <p>
                            <label for="emailsignup" class="youmail" data-icon="e" > Your name</label>
                            <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="name"/>
                        </p>
                        <p>
                            <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                            <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="password"/>
                        </p>
                        <p>
                            <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                            <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="password"/>
                        </p>
                        <p class="signin button">
                            <input type="button" value="Join" id="joinBtn">
                        </p>
                        <p class="change_link">
                            Already a member ?
                            <a href="#tologin" class="to_register"> Go and log in </a>
                        </p>
                    </form>
                </div>

            </div>
        </div>
    </section>


    <!--<div class="login">-->
        <!--<form id="signinForm">-->
            <!--<input type="text" placeholder="username" name="user" id="_id"><br>-->
            <!--<input type="password" placeholder="password" name="password" id="password"><br>-->
            <!--<input type="button" value="Login" id="signInBtn">-->
            <!--<input type="button" value="Join" id="joinBtn">-->
        <!--</form>-->
    <!--</div>-->

    <br>
    <div class="invalidLogin">
        <div>Wrong username or password</div>
    </div>
    <div class="invalidPassword">
        <div>The username already exists</div>
    </div>



</body>
</html>