@(message: String)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>TravelPal</title>

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/mytrip.css")'></link>

    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.cookie.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/mytrip.js")'></script>

</head>

<body>

    <div class="mytrip_list">
        <!--<a class="mytrip_item" id="record._id">-->
            <!--<span class="destination">Artist</span>-->
            <!--<span class="date">Title</span>-->
        <!--</a>-->
        <!--<a class="mytrip_item" href="#">Lorem Elsass ipsum Oberschaeffolsheim Heineken</a>-->
    </div>



</body>
</html>
