@(message: String)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>TravelPal</title>

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/friends.css")'></link>

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.cookie.js")'></script>

</head>

<body>

<h1>newtrip under construction</h1>

</div>


</body>
</html>
