@(message: String)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="UTF-8"/>
    <title>TravelPal</title>

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/promote.css")'></link>

</head>

<body>

    <link href='http://fonts.googleapis.com/css?family=Cherry+Swash:700,400|Marmelad' rel='stylesheet' type='text/css'>

    <div class="content">
        <a href="http://www.theguardian.com/travel/2014/apr/09/top-10-free-things-to-do-in-new-york" target="_blank" style="text-decoration: none">
            <h1>Top 10 free things to do in New York</h1>
            <p>Central Park, Brooklyn Bridge, the High Line… some of New York's most famous attractions don't cost a dime. We pick the best, plus where to head for free concerts, beer and comedy in the Big Apple</p>
        </a>
    </div>


    <div class="content col-1-2">
        <a href="http://www.theguardian.com/travel/2014/apr/09/top-10-free-things-to-do-in-new-york" target="_blank" style="text-decoration: none">
            <h2>101 things to do in London</h2>
            <p>London is a treasure trove of brilliant days out and activities worth boasting about. Whether you live and work in the capital or you’re planning a holiday, you’re spoilt for choice when it comes to finding fab ways to fill a free day with fun. We’ve rounded up 101 of our favourite things to do in the city to help you discover its best venues, events, views and hidden corners. Looking for inspiration? Browse the full list.</p>
        </a>
    </div>

    <div class="content col-1-2">
        <a href="http://www.timeout.com/barcelona/features/35/20-great-things-to-do-in-barcelona" target="_blank" style="text-decoration: none">
            <h2>20 great things to do in Barcelona</h2>
            <p>When you're travelling, especially if you're short on time, you really want to make the most of your destination so you go home feeling like you haven't missed anything and that you've really got a feel for the place. Sure, it can be a challenge, so we've worked to pare down all there is to do in Barcelona to 20 of the musts.</p>
        </a>
    </div>

    <div class="content clear">
        <a href="http://www.taiwanese-secrets.com/things-to-do-in-taipei.html" target="_blank" style="text-decoration: none">
            <h2>15 Cool Things to do in Taipei City! Taiwanese Secrets!</h2>
            <p>There are so many things to do in Taipei City, I don't know which attraction I should introduce first. I guess I'll begin by telling you about my own favorite places.</p>
        </a>
    </div>

    <div class="content col-1-2">
        <a href="http://www.theguardian.com/travel/2014/mar/25/top-10-free-things-to-do-paris" target="_blank" style="text-decoration: none">
            <h2>Top 10 free things to do in Paris</h2>
            <p>Paris is one of the world's most beautiful cities – and one of the most expensive. So, from the walkway over the city to galleries and fashion shows, Will Coldwell picks the city's best free activities</p>
        </a>
    </div>
    <div class="content col-1-2">
        <a href="http://www.lonelyplanet.com/europe/travel-tips-and-articles/77814" target="_blank" style="text-decoration: none">
            <h2>Top 20 free things to do in Berlin</h2>
            <p>Berlin may be one of the best-value cities in Europe but for tourists those euros can start to add up after days of museum-hopping and nights of clubbing. Save your cents by taking in some of the city’s many freebies.</p>
        </a>
    </div>
    <div class="content clear">
        <a href="http://www.timeout.jp/en/tokyo/feature/1950/88-things-to-do-in-Tokyo" target="_blank" style="text-decoration: none">
            <h2>88 things to do in Tokyo</h2>
            <p>Sing karaoke in a hot tub... and 87 other great things to do in Tokyo. Whether you're watching bikini-clad women battle it out with robots or seeing the sights from the sky, there's always something going on in the neon city. Time Out Tokyo has your ultimate guide.</p>
        </a>
    </div>

</body>
</html>
